.entrega-page{
    
    background-color: #F0F0F0;
    font-family: 'Alata';
    min-height: 93vh;
    
    
    .rodapezin{
        margin-top: 13em;
    }

    .Título-entrega{
        font-size: 2em;
        text-align: center;
    }

    .subtítulo-entrega{
        text-align: center;
        margin-top: 10px;
        color: #363636;
    }

    .add-adress{
        background-color: #FFFFFF;
        border: 1px solid black;
        border-radius: 3em;
        padding: 1em 2em;
        font-size: .8em;
        cursor: pointer;
        margin-left: -2.5em;
    }
    .confirma{
        background-color: #FFFFFF;
        border: 1px solid black;
        border-radius: 3em;
        padding: 1em 2em;
        font-size: .8em;
        cursor: pointer;
        margin-left: -6em;
    }
    
    .botão-centro{
        display: flex;
        flex-direction: row;
        font-size: 1.1em;
        justify-content: center;
        justify-content: space-evenly;
    }
}





