.pedidos-page{
    min-height: 102.3vh;

    background-color: #f0f0f0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Alata';


    .fc{
        margin-top: 3em;
    }
  
    .box-pedido-cliente{
        display: flex;
        flex-direction: row;
        background-color: #ffffff;
        padding: 1.5em;
        margin-top: 2em;
        width: 20em;
        line-height: 2em    ;
    }

    .box-dentro-pedido-cliente{
        display: flex;
        flex-direction: column;
        max-width: 10em ;
    }

   .box2-dentro-pedido-cliente{
        margin: 1em;
   }
    .titulo-pagina-pedidos{
        font-size: 30px;
    }


    .status-pedido{
        width: 2em;
        height: 3em;
    }
}
