.pagina-tda{
    background-color: #F0F0F0;
    min-height: 93vh;
    
    .section-1{
        margin-left: auto;
        margin-right: auto;
        margin-top: 10em;
        margin-bottom: 12em;
        display: flex;
        flex-direction: column;
        max-width: 86%; 
    }
}