
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  padding: 3em;
  padding-top: 1em;
}

textarea {
  resize: none;
}

button{
  border:transparent;
}

textarea{
  box-shadow: 1px 1px 1px gray;
  
}

* {
  box-sizing:unset;
  margin: 0px;
}

input, select {
  outline: none;
  border: 1px solid rgb(92, 92, 92);
  user-select: none;

  border-radius: 5px;
  font-size: 1em;
  padding: .5em;
}

