.dados-page{
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;

    min-height: 100vh;
    
    .box{
    display: flex;
    flex-direction: row;
    margin: 4em;
    
    }

    input{
       width: 27.6em; 
       margin-bottom: 2em;
    }

    .box1{
        display: flex;
        flex-direction: column;
        margin-right: 10em;
    }


    .box2{
        display: flex;
        flex-direction: column;
    }

    .caixa {
        border: none;
        border-radius: 5px;
        padding: 1em;
    }

    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-family: 'Alata';
        background-color: #ffffff;
        padding: .5em 0em;
        margin: 1em;
    }

    .título-pmdds{
        text-align: center;
        color: #000000;
        font-family: 'Alata';
        font-size: 25px;
        margin-top: 2em;
    }

    
    .change{
        color: #353434;

    }
    .line-button{
        text-align: center;
        max-width: 10em;
        margin-left: 35em;
    }

    .barra-pages{
        cursor: pointer;
        display: flex;
        flex-direction: row;
       }
   

    .text-conta-cliente {
        padding: 0.3em 3em;
        font-size: 20px;

    }
    .black {
        color: white;
        background-color: black;
        padding:0.3em 3em;
        font-size:20px;

    }

}