.fundo{
    background-color: #F0F0F0;
}
.contPrincipal{

    display: flex;
    padding: 1.5em;
    border-radius: 10px;
    max-width: 150%;
    background-color:white ;
    justify-content: space-around;
    width: 35em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.150);

   

    .imgProduto{
        width: 10em;
    }


    .infoProduto{
      
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .info-text{
        font-family: alata;
    }

    .subCont{
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: #EFEFEF;
        padding: 2em;
    }

    .zero{
        padding-left:5px ;
        padding-right:5px ;
    }

    .contagem{
        display: flex;
        flex-direction: row;
        font-family: alata;
    }

    .remove{
        width: 1em;
    }

}