.Page-Cadastro{
    
    
    @import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');    

    min-height: 93vh;
    background-color: #f0f0f0;

    .container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-top: 7em;

    }

  
    .content {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .Save{
        display: flex;
        flex-direction: column;
        color: #838383;
        background-color: #ffffff;
        width: 14em;
        padding: 1em;
        margin: 1em;
        align-items: center;
        border-radius: 10px;
        height: 13em;

    }

    .f2{
        width: 12em;
        border-radius: 10px;

    }

    #file {
    visibility: hidden;
    position: absolute;
    
    }

    .f1{
            width: 12em;

        }
    
    .inputs{
        display: flex;
        flex-direction: column;
        margin-left: 4em;
        
    }

    .campo {
        margin-bottom: 2em;
        padding: 1em ;
        width: 20em;
        border: transparent;
        border-radius: 10px;
    }

    textarea {
        margin-bottom: 2em;
        padding: 1em ;
        width: 75em;
        height: 20em;
        border: transparent;
        border-radius: 10px;
        margin-top: 1em;
    }

    .button-register{
        width: 20%;
        height: min-content;
        border: solid black ;
        background-color: #ffffff;
        float: right;
        margin-right: 7.5em;
        padding: .6em .1em;
        border-radius: 5px;
        font-family: 'Aldrich';
        font-size: 20px;
    }

    input{
        box-shadow: 1px 1px 1px gray;
        
    }
}