.Page-Cadastro{
    
    
    @import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');    

    padding: 11.1vh;
    background-color: #f0f0f0;
    
    .container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    
    }

  
    .content {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .Save{
        display: flex;
        flex-direction: column;
        color: #838383;
       background-color: #ffffff;
        width: 14em;
        padding: 1.5em;
        margin: 1em;
        align-items: center;
        border-radius: 10px;
    }

    #file{
    visibility: hidden;
    position: absolute;
    }

    .f1{
            width: 10em;
        }
    
    .inputs{
        display: flex;
        flex-direction: column;
        margin-left: 4em;
        
    }

    input, select {
        margin-bottom: 2em;
        padding: 1em ;
        width: 20em;
        border: transparent;
        border-radius: 10px;
    }

    textarea {
        margin-bottom: 2em;
        padding: 1em ;
        width: 75em;
        height: 20em;
        border: transparent;
        border-radius: 10px;
        margin-top: 1em;
    }

    .button-register{
        width: 20%;
        height: min-content;
        border: solid black ;
        background-color: #ffffff;
        float: right;
        margin-right: 7.5em;
        padding: .6em .1em;
        border-radius: 5px;
        font-family: 'Aldrich';
        font-size: 20px;
    }

    
}