.cabecalho-page {
    //margem 
    margin: 50px -183px;
    margin-top: -20px;

    //flex-box
    display: flex;
    flex-direction: row;    
    justify-content: space-between;

    //espaçamento
    padding: 0px 80px;
    width: 111.75%;

    position: fixed;
    padding-bottom: 10px;
    
    
    background-color: #44BBE1;
    .menu{
        width: 3em;
        margin-top: 1.5em;
        margin-left: 3em;
    }

    .faq, .carrinho{
        width: 2em;
        height: 2em;
        margin-top: 25px;
    }

    .t1{
        font-size: 20px;
        font-family: 'Alata';
        margin-top: 1.5em;
        
    }

    .t2 {
        font-family: 'Aldrich';
        margin-top: 2em;
    }
    .logo{
        width: 10em;
        height: 4em;
        margin-top: .8em;
    }

   
    
    .menu-page{
        background: linear-gradient(to bottom,#44BBE1, #365A9E);
        margin: 10em -10px;
        padding: 1em 10em;
        margin-top: 5.4em;
        padding-bottom: 25em;
        position:absolute;
        height: 290%;
        line-height: 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;   
               
    }

    .buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .b1, .b2 {
        border: transparent;
        font-family: 'Aldrich';
        font-size: 1.5em;
    }

    

    .menu-content{
        margin-top: -5em;
        font-family: 'Aldrich';
        font-size: 1.5em;
        margin-bottom: 2em;
    }

    .t3{        
        margin-left: -.8em;
        margin-right: -1em;
        text-align: center;
        margin-top: 16.4em;

    }

    .lines{
        margin-top: 4em;
        line-height:inherit;
    }

    .line1, .line2, .line3, .line4{
        padding: 15px;
    }

    .b1 {
        background-color: #000000;
        color: #ffffff;
        border-radius: 100000px;
        padding: 15px;
        width:50%;
        margin-bottom: 1em;

    }

    .b2{
        background-color: #416dbe;
        color: #ffffff;
    }

    .x{
        width: 1em;
        margin-right: -2em;
    }

    .exit{
        display: flex;
        justify-content: flex-end;
    }
}