.img-B{
    cursor:pointer;
}

.cont-P{
    display: flex;
    flex-direction: row;
}

.carrossel {
    display: flex;
    flex-direction: row;
    overflow-x:auto;
}

.carrossel::-webkit-scrollbar{
    display:none;
}