.Page-home{
    background-color: #f0f0f0;
    min-height: 90vw;

    .section-home{
        background: linear-gradient(to bottom,#44BBE1, #365A9E);
        padding: 30.5vh;
        margin-top: -2em;
        font-size: 50px;
        font-family: Aldrich;
        text-align: center;
    }

    .promocoes{
        margin-left: 2.3em;
        margin-top: 2.5em;
        font-family: Aldrich;
        font-size: 45px;
    }

    .div{
        display: flex;
        flex-direction: row;
    }

    .cont-M{
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-start;
        padding-left:10em;
    }

    
    

    //

}