.cabecalho-pagin {
    //margem 
    margin: 50px -183px;
    margin-top: -20px;

    //flex-box
    display: flex;
    flex-direction: row;    
    justify-content: space-between;

    //espaçamento
    padding: 0px 23px;
    width: 104.2%;

    padding-bottom: 10px;
    
    
    background-color: #44BBE1;


   
    
    .scroll{
        padding-bottom: 60em;
    }

    .menu{
        width: 3em;
        margin-top: 1.5em;
        margin-left: 11em;
    }

    .faq, .carrinho{
        width: 2em;
        height: 2em;
        margin-top: 25px;
    }

    .t1{
        font-size: 20px;
        font-family: 'Alata';
        margin-top: 1.5em;
        
    }

    .t2 {
        font-family: 'Aldrich';
        margin-top: 2em;
    }
    .logo{
        width: 10em;
        height: 4em;
        margin-top: .8em;
    }

   
    
    .menu-page{
        background: linear-gradient(to bottom, #44BBE1, #365A9E);
        margin: 0em 40px;
        padding: 1em 8em;
        margin-top: 0em;
        position: absolute;
        height: 150%;
        line-height: 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;   
        
    }

    .buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .b1, .b2 {
        border: transparent;
        font-family: 'Aldrich';
        font-size: 1.5em;
    }

    

    .menu-contents{
        margin-top: -30em;
        font-family: 'Aldrich';
        font-size: 1.5em;
        margin-bottom: 2em;
    }

    .t3{        
        margin-left: -.8em;
        margin-right: -1em;
        text-align: center;
        margin-top: 33em;

    }

    .lines{
        margin-top: 4em;
        line-height:inherit;
    }

    .linha1, .linha2, .linha3, .linha4, .linha5, .linha6, .linha7, .linha8{
        padding: 15px;
        font-weight: 600;
    }

   
    
    .seta{
        width: 20px;
        height: 20px;
        margin-top: 0.8em;
        margin-right: 13px;
    
        
    }

    .setaActive{
        transform: rotate(180deg);
    }
    .perifericos{
        display: flex;
        flex-direction: row;
    }

    .perifericos:hover{
        background-color: #416dbe;
    }
    
    .linha1:hover, .linha5:hover, .linha6:hover, .linha7:hover, .linha8:hover{
        background-color: #416dbe;
    }

    .c1-txt:hover{
        background-color: #416dbe;
    }

    .b1 {
        background-color: #000000;
        color: #ffffff;
        border-radius: 100000px;
        padding: 15px;
        width:50%;
        margin-bottom: 1em;

    }

    .b2{
        background-color: #416dbe;
        color: #ffffff;
    }

    .x{
        width: 1em;
        margin-right: 1em;
    }

    .exit{
        display: flex;
        justify-content: flex-end;
    }

    .c1{
        margin-left: 1em;
    }

    .lupa{
        margin-bottom: -.7em;
        height: 2.1em;
        margin-left: -2em;
    }
    input{
        border: none;

    }
}