.page-total{
    background: rgb(240, 240, 240);

    display: flex;
    flex-direction: column;
    min-height: 90vh;
    align-items: center;

    font-family: 'Alata';
    .titulo{
        padding-top: 5%;
        padding-left:17% ;
        padding-bottom: 8%;
    }
    .busque{
        
        border-radius: 10px;
        width: 430px;
        height: 34px;
        border-color:white;
    }

    .produto{
        padding-top: 6%;
        padding-left: 20%;
    }

    
    .botao-alterar{
        display: flex;
        padding: 3%;
        margin-left: 12%;
        max-width: 300px;
        border-radius: 10px;
        background-color: #676767;
    }

    .txt{
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding-left: 25%;
    }
    
    
}