.page-total{
    background: rgb(240, 240, 240);

    display: flex;
    flex-direction: column;
    min-height: 90vh;
    align-items: center;

    font-family: 'Alata';
    .titulo{
        padding-top: 5%;
        padding-left:17% ;
        padding-bottom: 8%;
    }
    .busque{
        
        border-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        width: 430px;
        height: 34px;
        border-color:white;
    }

    .produto{
        padding-top: 6%;
        padding-left: 20%;
    }

    
    .botao-alterar{
        display: flex;
        padding: 3%;
        margin-left: 12%;
        max-width: 300px;
        border-radius: 10px;
        background-color: #676767;
    }

    .txt{
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding-left: 25%;
    }
    
    .lupa{
        width: 1.5em;
        height: 3.3em;
        background-color: #fff;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .search{
        display: flex;
        flex-direction: row;
        align-content: center;
    }
    table{
        margin-top: 3em;
    }
    th {
        background-color: #676767;
        color: #fff;
        padding: 10px 15px;
        text-align: left;
    }
    
    td {
        padding: 10px 15px;
    }

    tr:nth-child(odd) td {
        background-color: #fff;
    }
    tr:nth-child(even) td {
        background-color: #f1f1f1;
    }

    
    tr td:nth-last-child(1), tr td:nth-last-child(2) {
        padding: 0px;
        text-align: center;
    }
    tr td:nth-last-child(1) span, tr td:nth-last-child(2) span {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 10px;
        cursor: pointer;
        transition: .6s;
        padding: 5px 10px;
        border-radius: 3px;
    }
    tr td:nth-last-child(1) span:hover, tr td:nth-last-child(2) span:hover {
        background-color: #000;
        color: #fff;
    }

    .editar{
        width: 2em; 
    }
}